In [3]:
import csv
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
%matplotlib notebook
pd.options.display.max_rows = 35

alldata1=csv.reader(open('D:/new/各省普通高中毕业生人数年度数据.csv','r'))
#alldata = pd.read_table('C:/Users/Administrator/Desktop/Python课件与书籍/地区生产总值季度数据.csv')#,sep='::',header=None,names=pnames)
alldata1
alldata_panda1=pd.DataFrame(alldata1)
alldata_panda1
database11=pd.DataFrame(alldata_panda1.drop([0,1,2,35]))
database1=pd.DataFrame(database11.drop([0,1],1))
database1.index=database11[0][:32]
database1.columns=database11.T[3][2:11]
database1
database1=pd.DataFrame(database1.drop(['地区']))
database1=database1.astype('float')#强制类型转换
databaseT1=database1.T
databaseT1.columns=['北京','天津','河北','山西','内蒙古','辽宁','吉林','黑龙江','上海','江苏', '浙江', '安徽', '福建', '江西', '山东', '河南', '湖北', '湖南', '广东',
                 '广西', '海南', '重庆', '四川', '贵州', '云南', '西藏', '陕西', '甘肃','青海', '宁夏', '新疆']
databaseT1.sort_values(by='2017年',axis=1)
alldata2=csv.reader(open('D:/new/各省高等学校招生人数（本科）年度数据.csv','r'))
#alldata = pd.read_table('C:/Users/Administrator/Desktop/Python课件与书籍/地区生产总值季度数据.csv')#,sep='::',header=None,names=pnames)
alldata2
alldata_panda2=pd.DataFrame(alldata2)
alldata_panda2
database12=pd.DataFrame(alldata_panda2.drop([0,1,2,35]))
database2=pd.DataFrame(database12.drop([0,1],1))
database2.index=database12[0][:32]
database2.columns=database12.T[3][2:11]
database2
database2=pd.DataFrame(database2.drop(['地区']))
database2=database2.astype('float')#强制类型转换
databaseT2=database2.T
databaseT2.columns=['北京','天津','河北','山西','内蒙古','辽宁','吉林','黑龙江','上海','江苏', '浙江', '安徽', '福建', '江西', '山东', '河南', '湖北', '湖南', '广东',
                 '广西', '海南', '重庆', '四川', '贵州', '云南', '西藏', '陕西', '甘肃','青海', '宁夏', '新疆']
databaseT2.sort_values(by='2017年',axis=1)

,西藏,青海,宁夏,海南,新疆,内蒙古,甘肃,天津,贵州,上海,...,陕西,辽宁,湖南,河北,湖北,四川,河南,山东,江苏,广东
3,,,,,,,,,,,,,,,,,,,,,
2017年,0.58,0.99,2.04,2.80,4.83,6.24,7.16,8.57,8.67,9.51,...,16.46,16.63,17.83,18.91,21.30,22.51,25.80,26.29,26.74,27.66
2016年,0.60,0.92,1.95,2.80,4.23,6.26,7.23,8.51,8.15,9.31,...,16.10,16.60,17.32,18.21,21.28,21.82,25.62,26.27,26.88,27.51
2015年,0.61,0.89,1.89,2.70,4.02,5.96,7.10,8.21,6.44,8.92,...,15.94,16.60,16.77,16.72,20.77,20.59,24.17,23.70,25.60,26.96
2014年,0.56,0.87,1.90,2.60,3.79,5.85,7.28,8.11,6.57,8.84,...,16.84,18.05,16.54,16.44,20.38,18.50,23.55,23.38,25.06,26.15
2013年,0.57,0.88,1.82,2.57,3.79,5.84,7.16,8.19,6.68,9.02,...,17.18,17.51,16.39,16.08,21.52,18.28,23.59,23.75,24.45,25.17
2012年,0.56,0.85,1.79,2.61,3.61,5.62,7.16,8.13,6.48,8.96,...,18.68,16.82,16.48,15.61,21.69,18.13,22.57,23.15,24.03,23.95
2011年,0.51,0.80,1.62,2.40,3.43,5.52,6.80,7.82,5.76,8.73,...,16.70,16.16,15.40,15.19,21.10,17.38,20.39,22.40,24.05,22.73
2010年,0.50,0.76,1.48,2.50,3.43,5.57,6.60,7.64,5.36,9.12,...,15.49,15.52,15.31,15.64,20.25,18.03,21.13,22.06,25.31,21.70
2009年,0.50,0.73,1.33,2.13,3.32,5.16,6.25,7.09,4.93,9.03,...,14.04,15.16,14.51,14.92,18.26,16.68,18.38,20.08,22.88,20.83

In [19]:
attr1=list(databaseT1.columns)
values1=databaseT1.values.tolist()[0]
values1=list(np.array(values1)/sum(values1))
values11=[]
for i in values1:
    values11.append(round(i,3))
attr2=list(databaseT2.columns)
values2=databaseT2.values.tolist()[0]
values2=list(np.array(values2)/sum(values2))
values21=[]
for i in values2:
    values21.append(round(i,3))

In [21]:
import pyecharts.options as opts
from example.commons import  Faker
from pyecharts.charts import Line


def line_base() -> Line:
    c = (
        Line(init_opts=opts.InitOpts(width=4000))
        .add_xaxis(attr1)
        .add_yaxis("毕业生总数占比", values11)
        .add_yaxis("本科生招生人数占比",values21)
        .set_global_opts(title_opts=opts.TitleOpts(title="毕业生人数与本科生招生人数关系曲线"),
                        xaxis_opts=opts.AxisOpts(axislabel_opts=opts.LabelOpts(rotate=30)),
                        )
    )
    return c
line1=line_base()
line1.render('C:\\Users\\Administrator\\render_毕业生与本科生招生人数关系.html')

'C:\\Users\\Administrator\\render_毕业生与本科生招生人数关系.html'